<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ranawattech.collagenotes">
    <!-- all required Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.ranawattech.collagenotes.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.ranawattech.entrance.UploadEntranceActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.entrance.EntranceActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.School.UploadSchoolDataActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.School.NotesViewActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.School.NotesActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.School.SubjectActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.School.ClassActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.Interview.UploadInterviewActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.Interview.InterviewCollectionActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.Interview.InterviewNotesViewerActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.Hindi_Upnayas.HindiUpnayasActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.Interview.InterviewActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.Animes.AddChapterActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.Animes.AnimeViewActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.Animes.ChaptersActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.Animes.AnimesActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.collagenotes.ProfileActivity"
            android:exported="false" />
        <activity android:name="com.ranawattech.collagenotes.UserDashboard" />
        <activity
            android:name="com.ranawattech.collagenotes.VerifyOTP"
            android:exported="true" />
        <activity
            android:name="com.ranawattech.collagenotes.ForgetPasswordSuccessMessage"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.collagenotes.SetNewPassword"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.collagenotes.MakeSelection"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.collagenotes.ForgetPassword"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.collagenotes.GetStartedActivity"
            android:exported="false" />
        <activity
            android:name="com.ranawattech.message.ChatActivity"
            android:exported="false" />
        <activity android:name="com.ranawattech.Admin_Sections.AdminChatDetailsActivity" />
        <activity android:name="com.ranawattech.Admin_Sections.Admin_Chat_Users_Activity" />
        <activity android:name="com.ranawattech.Admin_Sections.UserListActivity" />
        <activity android:name="com.ranawattech.Admin_Sections.AdminMenuActivity" />
        <activity android:name="com.ranawattech.Admin_Sections.UserSentMessagesActivity" />
        <activity android:name="com.ranawattech.Admin_Sections.UserUploadAdminActivity" />
        <activity android:name="com.ranawattech.Users_Sections.NotesViewUserActivity" />
        <activity android:name="com.ranawattech.Users_Sections.UserPolicyActivity" />
        <activity android:name="com.ranawattech.Users_Sections.UserUploadActivity" />
        <activity android:name="com.ranawattech.Users_Sections.MenuUsersActivity" />
        <activity android:name="com.ranawattech.Users_Sections.NotesUsersActivity" />
        <activity android:name="com.ranawattech.Users_Sections.SubjectUsersActivity" />
        <activity android:name="com.ranawattech.Users_Sections.SemesterUsersActivity" />
        <activity android:name="com.ranawattech.Users_Sections.CourseUsersActivity" />
        <activity android:name="com.ranawattech.collagenotes.NotesViewerAdminActivity" />
        <activity android:name="com.ranawattech.Admin_Sections.NotesAdminActivity" />
        <activity android:name="com.ranawattech.Admin_Sections.SubjectAdminActivity" />
        <activity android:name="com.ranawattech.Admin_Sections.SemesterAdminActivity" />
        <activity android:name="com.ranawattech.Admin_Sections.CourseAdminActivity" />
        <activity android:name="com.ranawattech.Adding_Section.NotesAddActivity" />
        <activity android:name="com.ranawattech.Adding_Section.SubjectAddActivity" />
        <activity android:name="com.ranawattech.Adding_Section.SemesterAddActivity" />
        <activity android:name="com.ranawattech.Adding_Section.CourseAddActivity" />
        <activity android:name="com.ranawattech.Adding_Section.Collage_University_Added_Activity" />
        <activity android:name="com.ranawattech.collagenotes.DashboardAdminActivity" />
        <activity android:name="com.ranawattech.collagenotes.DashboardUserActivity" />
        <activity android:name="com.ranawattech.collagenotes.LoginActivity" />
        <activity android:name="com.ranawattech.collagenotes.RegisterActivity" />
        <activity android:name="com.ranawattech.collagenotes.OnBoardingActivity" />
        <activity
            android:name="com.ranawattech.collagenotes.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.ranawattech.collagenotes.FirebaseMessagingService"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>